body {
    background-color: rgb(101, 101, 204);
    margin: 0 
}
h1 {
    color:blueviolet;
    padding: 60px
}
footer {
    display: flex;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100% ;
    text-align: center ;
}
footer p {
    color: whitesmoke
}
img {
   
    border-radius: 50%;
    width: 260px;
    height: 255px;
  
    margin-top: 70px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
